*,
*::before,
*::after {
    box-sizing: inherit;  
}

* {
    outline: 1px solid rgb(134, 182, 245);
}

body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.body {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: yellowgreen;
}

.section-one,
.footer {
    background-color:rgb(3, 80, 26);
}

.logo,
h1 {
    color: #f9faf8;
}

.links,
.text p,
.text div {
    color: #e5e7eb;
}

.header ul {
    list-style-type: none;
    font-size: 18px;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

.header h3 {
    margin: 0;
    font-size: 24px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    align-items: center;
}

.text,
.mushroom {
    max-width: 500px;
    max-height: 300px;
    margin: 28px;
}

.container-text-mushroom {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.text h1 {
    margin: 0;
    align-self: flex-start;
    font-size: 48px;
}

.footer {
    margin-top: auto;
}







